<div class="page-header">
  <h3>Search for Brewery</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/breweries/new">
      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Brewery Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" rows="3">
      </div>

      <button class="btn btn-success">
        Search for Brewery
      </button>
      or
      <a href="/breweries">Cancel</a>
    </form>
  </div>
</div>
